<a href="https://colab.research.google.com/github/laxmipunnam/pythontrainingLab/blob/main/day2_python_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
NewList=["apple","banana","cherry"]

print(type(NewList))
print(NewList)

<class 'list'>
['apple', 'banana', 'cherry']

In [ ]:
#access the element of list using index value
NewList[2]

'cherry'

In [ ]:
#create list with multiple type
List_with_different_type=["apple",2,True,"Tasty"]
List_with_different_type

['apple', 2, True, 'Tasty']

In [ ]:
#create list with multiple type
List_with_different_type=["apple",2,True,"Tasty",2.6]
List_with_different_type
print(type(List_with_different_type))

<class 'list'>

In [ ]:
#create using list constructor list()
listConstruct=list(("a","b","c",))
print(listConstruct)

print(type(listConstruct))

['a', 'b', 'c']
<class 'list'>

In [ ]:
#i want to extract 2 ,true and tasty
List_with_different_type[1:4]

[2, True, 'Tasty']

In [ ]:
#i want to extract 2,tasty
List_with_different_type[1:4:2]

[2, 'Tasty']

In [ ]:
#negative indexing
List_with_different_type[-4:-1]

[2, True, 'Tasty']

In [ ]:
#some loop operation with list
print(List_with_different_type)

#1.for loop
for i in List_with_different_type:
  print(i)


#2.range function
for i in range(len(List_with_different_type)):
  print("using range function:",List_with_different_type[i])

['apple', 2, True, 'Tasty', 2.6]
apple
2
True
Tasty
2.6
using range function: apple
using range function: 2
using range function: True
using range function: Tasty
using range function: 2.6

Method in list

In [ ]:
#1. insert method
NewList=["apple","banana","cherry"]
NewList.insert(2,"litchi")
print(NewList)

['apple', 'banana', 'litchi', 'cherry']

In [ ]:
#2.append method
NewList.append("Mango")
print(NewList)

['apple', 'banana', 'litchi', 'cherry', 'Mango']

In [ ]:
#3.extend method
#List1
NewList=["apple","banana","cherry"]
print(NewList)
#List2
print(List_with_different_type)
#use extend method
NewList.extend(List_with_different_type)

print(NewList)

['apple', 'banana', 'cherry']
['apple', 2, True, 'Tasty', 2.6]
['apple', 'banana', 'cherry', 'apple', 2, True, 'Tasty', 2.6]

In [ ]:
#3.extend method
#List1
NewList=["apple","banana","cherry"]
print(NewList)
#List2
print(List_with_different_type)
#use concatenation
print("using concat :",NewList+List_with_different_type)

['apple', 'banana', 'cherry']
['apple', 2, True, 'Tasty', 2.6]
using concat : ['apple', 'banana', 'cherry', 'apple', 2, True, 'Tasty', 2.6]

In [ ]:
#create a tuple of string type
tuple_var=("car","bike")
#list of int type
list1=["1,2,3,4"]
#extend to add tuple into list
list1.extend(tuple_var)
print(list1)

['1,2,3,4', 'car', 'bike']

In [ ]:
#4. remove
list1.remove('car')
list1

['1,2,3,4', 'bike']

In [ ]:
#5. pop
list1.pop(1)
list1

['1,2,3,4']

In [ ]:
list1.pop()

'1,2,3,4'

In [ ]:
list1=[1,2,3,4]
list1.pop()

4

In [ ]:
#6. clear: it clear all the elements from the list
list1.clear()
list1

[]

In [ ]:
#7. copy :it help in copying the list elements into specified list
NewList=["apple","banana","cherry"]
list1=NewList.copy()
list1

['apple', 'banana', 'cherry']

In [ ]:
#8. count of occurance of any element in list
list1.count('mango')

#9. index method
list1.index('cherry')

2

In [ ]:
#10. start and remove
list1.sort()
list1

['apple', 'banana', 'cherry']

In [ ]:
#11.reverse
list1.reverse()
list1

['cherry', 'banana', 'apple']