<a href="https://colab.research.google.com/github/laxmipunnam/pythontrainingLab/blob/main/day2_tuple_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#empty tuple
tup0=()
type(tup0)


#tuple with one element
tuple1=(1,)
print(type(tuple1))


#create tuple with multiple elements
fruits=('apple','banana','cherry','kiwi','mango')
print(fruits)
print(type(fruits))

<class 'tuple'>
('apple', 'banana', 'cherry', 'kiwi', 'mango')
<class 'tuple'>

In [ ]:
#to make any change ,you need to convert the tuple into list
list1=list(fruits)
print(list1)

list1[1]="chiku"

print(list1)

#convert it back to tuple

fruits=tuple(list1)

print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'chiku', 'cherry', 'kiwi', 'mango']
('apple', 'chiku', 'cherry', 'kiwi', 'mango')

In [ ]:
#you can use tuple constructor to create any tuple
tuple2=tuple((1,2,3,4,5,6,7,6))
print(type(tuple2))

<class 'tuple'>

In [ ]:
tuple2[2:5]

(3, 4, 5)

In [ ]:
#iterate using loop
for x in tuple2:
  print(x)

1
2
3
4
5
6
7
6

In [ ]:
#membership
if 8 not in tuple2:
  print("yes 8 is not there:",tuple2)
else:
  print("no 8 is there",tuple2)

yes 8 is not there: (1, 2, 3, 4, 5, 6, 7, 6)

In [ ]:
#remove method
t1=(1,2,3,4,5,6)
print(type(t1))
t1=list(t1)
print(type(t1))
t1.remove(4)
print(t1)
t1=tuple(t1)
print(type(t1))

<class 'tuple'>
[1, 2, 3, 5, 6]
<class 'tuple'>

In [ ]:
print(tuple2.count(6))
print(tuple2.index(6))

2
5

In [ ]:
#use del keyword to delete the tuple: but it will remove the entire definition
del tuple2
tuple2

NameError: ignored