<a href="https://colab.research.google.com/github/laxmipunnam/pythontrainingLab/blob/main/pandas_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.5'

In [3]:
SR_DB={
    'car':['BMW','FORD','Volvo'],
    'passing':[3,7,4]
}

print(SR_DB)

{'car': ['BMW', 'FORD', 'Volvo'], 'passing': [3, 7, 4]}

In [4]:
pd.DataFrame(SR_DB)

     car  passing
0    BMW        3
1   FORD        7
2  Volvo        4

In [6]:
#series: 1-d array

arr=['a','b','c','d']
print(type(arr))

new_series=pd.Series(arr)
print(new_series)
print(type(new_series))

<class 'list'>
0    a
1    b
2    c
3    d
dtype: object
<class 'pandas.core.series.Series'>

In [7]:
#access the value
new_series[3]

'd'

In [8]:
#create label
labledseries=pd.Series(arr,index=['one','two','three','four'])
print(labledseries)

one      a
two      b
three    c
four     d
dtype: object

In [9]:
#use loc to refer the row index
print(labledseries.loc['one'])

a

In [ ]:
#create the labeled dataframes

In [11]:
#read the dataset from the local directory
df=pd.read_csv('/content/iris.csv')